<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartsport.spedometer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".SSApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8f13ef9fb60e2131da7c6d94b657c8f1" />

        <activity
            android:name=".splash.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvc.PedometerActivity"
            android:label="@string/title_activity_pedometer"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".user.UserInfoSettingActivity"
            android:label="@string/title_activity_userinfo_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".user.UserInfoItemEditorActivity"
            android:label="@string/title_activity_userinfo_item_editor"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".group.ScheduleWalkInviteGroupsActivity"
            android:label="@string/title_activity_schedule_walkInvite_groups"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".group.GroupInviteInfoItemEditorActivity"
            android:label="@string/title_activity_groupInviteInfo_item_editor"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".group.GroupWalkResultActivity"
            android:label="@string/title_activity_group_walkResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".group.walk.WalkInviteInviteeSelectActivity"
            android:label="@string/title_activity_walkInvite_invitee_select"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".group.walk.WalkInviteInfoSettingActivity"
            android:label="@string/title_activity_walkInviteInfo_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".group.walk.WalkInviteWalkActivity"
            android:label="@string/title_activity_walkInvite_walk"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".group.compete.WithinGroupCompeteInviteInfoSettingActivity"
            android:label="@string/title_activity_withinGroupCompeteInviteInfo_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".group.compete.WithinGroupCompeteInviteeSelectActivity"
            android:label="@string/title_activity_withinGroupCompete_invitee_select"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".group.compete.WithinGroupCompeteWalkActivity"
            android:label="@string/title_activity_withinGroupCompete_walk"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".strangersocial.NearbyStrangersActivity"
            android:label="@string/title_activity_nearby_strangers"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".strangersocial.pat.StrangerPatActivity"
            android:label="@string/title_activity_stranger_pat"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseActivityTheme" >
        </activity>
        <activity
            android:name=".demo.DemoActivity"
            android:label="@string/title_activity_demo"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>